
*{
	margin: 0;
	padding: 0;
}

body{
	background: #ffdfbf;
	font-family: 'Verdana', sans-serif;
}

#header{
	height: 60px;
	width: 100%;
	background-color: #b05b27;
	text-align: center;
	vertical-align: middle;
	padding: 10px 0 0 0;
	border-bottom: solid 8px #d98451;
}

.container {
	width: 900px;
	margin: 0 auto;
	overflow: auto;

}

h1 {
	color: #4c3a30;
	font-size: 58px;
}

input, select{
	-webkit-appearance: none;
	background: #FFF;
	border-radius: 0;
	width: 300px;
	color: #b3612f;
	border: solid 1px #fedab5;
	padding: 10px;
	font-size: 24px;
	margin-bottom: 10px;
}

input[type="submit"].orange, 
button.orange{
	background-color: #d93600;
	color: #FFF;
	border: solid 1px #a22c03;
}

input[type="submit"].orange:hover,
button.orange:hover{
	background-color: #e7501b;
}

input[type="submit"].blue,
button.blue{
	background-color: #4078d5;
	color: #FFF;
	border: solid 1px #17448f;
}

input[type="submit"].blue:hover,
button.blue:hover{
	background-color: #508aea;
}

/** Alerts **/
.alert {
	color: red;
	font-weight: bold;
	font-size: 25px;
}