<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="feup.mieic.foodrific"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="feup.mieic.foodrific.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="feup.mieic.foodrific.FeedActivity"
            android:label="@string/title_activity_feed" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="feup.mieic.foodrific.LoginActivity" />
        </activity>
        <activity
            android:name="feup.mieic.foodrific.WebViewActivity"
            android:label="@string/title_activity_web_view" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="feup.mieic.foodrific.LoginActivity" />
        </activity>
    </application>

</manifest>
