<!DOCTYPE html>
<html>
  <head>
    <title>Foodrific</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <script src="js/jquery.js"></script>
    <script src="js/scripts.js"></script>
    <link rel="icon" type="image/png" href="images/favicon.png" />
  </head>
  <body>
    <div id="header">
      <img src="images/logo-white.svg" height="50px" />
    </div>
    <div id="banner">
      <div class="container">
        <h1>Partilha o que comes <br/>com os teus amigos!</h1>
        <button id="login">Entrar</button>
        <button id="register">Registar</button>
      </div>
    </div>
    <div id="android">
      <div class="container">
        <img src="images/android.svg" height="100px"/>
        <div class="info">
          Aplicação Android
        </div>
      </div>
    </div>
  </body>
</html>