<!DOCTYPE html>
<html>
  <head>
    <title>Foodrific</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <script src="js/jquery.js"></script>
    <script src="js/scripts.js"></script>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon-ipad.png" />
  </head>
  <body>
    <div id="header">
      <img src="images/logo-white.svg" height="50px" />
    </div>
    <div id="banner">
      <div class="container">
        <div class="food">
        <img src="images/icon.svg" width="350px" />
        </div>
        <div class="info">
          <h1>Gostas de cozinhar?</h1>
          Partilha com os teus amigos os pratos que fazes ou os que gostaste num restaurante!<br/>
          <button id="login" class="orange">Entrar</button> <button id="register" class="blue">Registar</button>
        </div>
      </div>
    </div>
    <!-- Registration Form -->
    <div id="registerForm">
      <div class="container">
        <h1>Novo Registo</h1>
        <form action="register" method="post">
          <input type="text" name="name" placeholder="nome"/> <br/>
          <input type="email" name="email" placeholder="email"/> <br/>
          <input type="name" name="birthday" placeholder="nascimento(DD/MM/AAAA)"> <br/>
          <select name="gender">
            <option selected="selected">escolher gênero</option>
            <option value="m">homem</option>
            <option value="f">mulher</option>
          </select> <br />
          <input type="password" name="password" placeholder="senha"> <br/>
          <input type="password" name="passwordConfirm" placeholder="confirmar senha"> <br/>
          <input type="submit" value="Registar" class="blue"/>
        </form>
      </div>
    </div>
  </body>
</html>