<!DOCTYPE html>
<html>
  <head>
    <title>{{user.name}} profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/bPopup.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon-ipad.png" />
  </head>
  <body>
    <div id="header">
      <a id="profileButton" href="/show_profile"><img src="api/get_avatar?email={{user_email}}" height="30px"/></a>
      <a href="/"><img src="images/logo-white.svg" height="50px" /></a>
      <a id="logoutButton" href="/logout"><img src="images/logout.svg" height="25px" /></a>
    </div>
      <!-- Notifications -->
      <div class="notifications">
      </div>
      <!-- Profile Box -->
      <div class="box profileBox">
        <img src="api/get_avatar?email={{user.email}}" height="60px"/>
      </div>

  </body>
</html>