<!DOCTYPE html>
<html>
  <head>
    <title>Foodrific</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.3.custom.min.css" />
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/bPopup.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.js"></script>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon-ipad.png" />
  </head>
  <body>
    <div id="header">
      <a href="/"><img src="images/logo-white.svg" height="50px" /></a>
    </div>
    <div id="banner">
      <div class="container">
        <div id="registerForm">
          <div class="container">
            <h1>Novo Registo</h1>

            <form action="register_handler" method="post" onsubmit="return validateRegisterForm()">
              <div id="nameAlert" class="alert"></div>
              <input type="text" name="name" placeholder="nome" maxlength="25"/><br/>
              <div id="emailAlert" class="alert"></div>
              <input type="email" name="email" placeholder="email"/><br/>
              <div id="birthdayAlert" class="alert"></div>
              <input type="text" name="birthday" placeholder="data de nascimento" id="datepicker"><br/>
              <div id="genderAlert" class="alert"></div>
              <select name="gender">
                <option selected="selected">escolher género</option>
                <option value="m">masculino</option>
                <option value="f">feminino</option>
              </select><br/>
              <div id="passwordAlert" class="alert"></div>
              <input type="password" name="password" placeholder="senha"><br/>
              <div id="passwordConfirmAlert" class="alert"></div>
              <input type="password" name="passwordConfirm" placeholder="confirmar senha"><br/>
              <input type="submit" value="Registar" class="blue"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>