<!DOCTYPE html>
<html>
  <head>
    <title>Foodrific Search</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/jquery.tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/feed.css">
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <link rel="stylesheet" type="text/css" href="css/search.css">
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/bPopup.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon-ipad.png" />
  </head>
  <body>
  	<div id="header">
      <a id="profileButton" href="profile?user={{user_id}}"><img src="api/get_avatar?email={{user_email}}" height="30px"/></a>
      <a href="/"><img src="images/logo-white.svg" height="50px" /></a>
      <a id="logoutButton" href="/logout"><img src="images/logout.svg" height="25px" /></a>
    </div>

    <div class="container">
        <form id="search_form" method="get" action="search">
            <input type="text" class="search_textinput" name="term" size="21" maxlength="25" placeholder="{{term}}"><input type="submit" value="pesquisar" class="search_button">
        </form>
		<br/>
		<div class="search_posts"> Publicações </div>
	    <!-- Notifications -->
	    <div class="notifications">
	    </div>
	    <!-- Posts -->
	    <div id="posts_search">
	        {% for post in posts %}
	        <div class="post box" id="{{post.key().id()}}">
	            <div class="inner">
	                <div class="head">
	                    <a href="/post?id={{post.key().id()}}"><span class="title">{{post.title}}</span></a><br/>
	                    <span class="author"><img class="post_avatar" src="api/get_avatar?email={{post.user.email}}" height="30px"/> {{post.user.name}}</span><br/>
	                </div>
	                <div class="content">
	                    <a href="/post?id={{post.key().id()}}"><img class="post_image" src="/api/postimage?id={{post.key().id()}}" /></a>
	                </div>
	            </div>
	        </div>
	        {% endfor %}
	     </div>  
	     <div class="search_users"> Utilizadores </div>
	     <!-- Users -->
	     <div id="users_search">
	     	{% for user in users %}
			<a href="profile?user={{user.key().id()}}">
			<div class="box profileBox" id="{{user.key().id()}}">
		        <img src="api/get_avatar?email={{user.email}}" height="60px"/>
		        <div class="data">
		          <div class="name">{{user.name}}</div>
		          <div class="gender">{% if user.gender =='m' %}homem{% else %}mulher{% endif %}</div>
		        </div>
		      </div>
		    </a>
	     	{% endfor %}
	     </div>    
     </div>	
  </body>
</html>