<!DOCTYPE html>
<html>
  <head>
    <title>Foodrific</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/bPopup.js"></script>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon-ipad.png" />
  </head>
  <body>
    <div id="header">
      <a id="profileButton" href="/show_profile"><img src="images/profile.svg" height="25px"/></a>
      <a href="/"><img src="images/logo-white.svg" height="50px" /></a>
      <a id="logoutButton" href="/logout"><img src="images/logout.svg" height="25px" /></a>
    </div>
    <div id="banner">
      <div class="container">
        <div id="editProfileForm">
          <div class="container">
            <h1>Perfil</h1>
            <div id="nameField" class="field_display">
              <div><span class="label_show">Nome: </span><a style="cursor: pointer" onclick="editName()"><img src="images/edit_field.svg" height="22px"/></a></div>
              <span class="field_value">{{ p_name }}</span>
            </div>
            <div id="emailField" class="field_display">
              <div><span class="label_show">Email: </span><a style="cursor: pointer" onclick="editEmail()"><img src="images/edit_field.svg" height="22px"/></a></div>
              <span class="field_value">{{ p_email }}</span>
            </div>
            <div id="birthdayField" class="field_display">
              <div><span class="label_show">Data de nascimento: </span><a style="cursor: pointer" onclick="editBirthday()"><img src="images/edit_field.svg" height="22px"/></a></div>
              <span class="field_value">{{ p_birthday }}</span>
            </div>
            <div id="genderField" class="field_display">
              <div><span class="label_show">Sexo: </span><a style="cursor: pointer" onclick="editGender()"><img src="images/edit_field.svg" height="22px"/></a></div>
              <span class="field_value">{{ p_gender }}</span>
            </div>
            <div id="passwordField" class="field_display">
              <div><span class="label_show">Password: </span><a style="cursor: pointer" onclick="editPassword()"><img src="images/edit_field.svg" height="22px"/></a></div>
              <span class="field_value">********</span>
            </div>
            <input class="button_change orange" type="button" value="Apagar perfil"/>
          </div>
        </div>
        <!-- Edit field profile -->
        <div id="editFieldForm">
          <!--<form action="send_recover" onsubmit="return validateEmail()" method="post">
            <div id="recoverPasswordAlert" class="alert"></div>
            <input type="email" name="emailToRecover" placeholder="Introduzir e-mail..."/><br />
            <input type="submit" value="Recuperar" class="orange"/>
          </form>-->
        </div>
      </div>
    </div>
  </body>
</html>