body {
	font-size: 20px;
}

#addPost{
	padding: 15px;
	background-color: #d98451;
	color: #fff;
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	border: 0;
	width: 100%;
	cursor: pointer;
}

.container{
	overflow: auto;
	margin: 0 auto;
	width: 500px;
}

.box{
	background-color: #fff3e8;
	border: solid 1px #efc296;
}

#newPost {
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
	display: none;
}

#newPost input{
	width: 90%;
	margin: 0 auto;
	border: solid 1px #efc296;
	margin-bottom: 20px;
}

#newPost div.tagsinput{
	width: 92.5%;
	height: auto;
	margin: 0 auto;
	border: solid 1px #efc296;
	margin-bottom: 20px;
}

#newPost input#tags_tag{
	border: none;
	font-size: 24px;
	width: 200px;
	color: #b3612f;
	margin-bottom: 5px;
}

#newPost div.tagsinput span.tag, 
#newPost div.tagsinput span.tag a{
	border: none;
	background-color: #d98451;
	color: #FFF;
	font-size: 24px;
}
#newPost .photo{
	border: solid 1px #efc296;
	width: 95%;
	margin: 0 auto;
	background: #FFF;
	margin-bottom: 20px;
}

#newPost .photo img{
	width: 70%;
	cursor: pointer;
}

#posts {
	margin-bottom: 20px;
}

#logoutButton {
	position: absolute;
	padding-right: 20px;
	padding-top: 12px;
	right:0px;
}

/* Post */

.post {
	margin-top: 20px;
	overflow: auto;
}

.post .inner {
	padding: 20px;
	overflow: auto;
}

.post .head{
	padding: 0 0 10px 0;
	border-bottom: dashed 1px #efc296;
	margin-bottom: 20px;
}

.post .ingredients .ingredient {
	background: #ffdfbf;
	width: 100px;
	padding: 5px;
	color: #d98451;
	text-align: center;
	margin-bottom: 10px;
}

.post .authorActions {
	
}

.post .deletePost {
	float: right;
	cursor: pointer;
}

.post .content img{
	float: left;
	width: 320px;
}

.post .content .ingredients{
	margin: 0 0 0 20px;
	float: left;
}


.post .title{
	color: #d98451;
	font-size: 25px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-weight: bold;

}

.post .author{
	color: #999999;
	font-size: 15px;

}

.post .actions{
	height: 55px;
	overflow: auto;
	clear: left;
}

.post .actions .yummy {
	background: #D98451;
	height: 100%;
	width: 50%;
	float: left;
}


.post .actions .comments{
	background: #FFCF9F;
	height: 100%;
	width: 50%;
	float: right;

}

.post .actions div {
	text-align: center;
	cursor: pointer;
}

.post .actions div .action{
	padding-top: 5px;
	width: 190px;
	margin: 0 auto;
	overflow: auto;
}

.post .actions div .action img{
	float: left;
}

.post .actions div .action .text{
	float: left;
	color: #fff;
	padding-left: 5px;
	padding-top: 9px;
}

#questionPopUp{
	display: none;
	background-color: #ffdfbf;
	text-align: center;
	padding: 30px 0 30px 0;
}

#questionPopUp h1{
	font-size: 30px;
}


.notifications {
	margin-top: 10px;
}

.notification img {
	position: relative;
	height: 20px;
	width: auto;
	margin-top: 2px;
	float: right;
	margin-right: 15px;
}

.notification {
	padding: 10px 5px 10px 5px;
	background: #7cc576;
	text-align: center;
	display: none;
	margin-bottom: 10px;
	margin-top: 10px;
	cursor: pointer;
}

.notification.confirmation{
	background: #7cc576;
	color: #FFF;
}

.notification.error{
	background: #f25e4f;
	color: #FFF;
}

@media screen and (max-width: 500px){
    .container {
    	width: auto;
    	padding: 0 20px 0 20px ;
    }

    #newPost input{
		width: 90%;
	}

	#newPost img{
		width: 92%;
	}

	.post img{
		max-width:100%; 
		max-height:100%;
		clear: right;
		float: none;
	}

	.post .content .ingredients{
		margin: 0 0 0 0;
		padding-top: 10px;
		float: none;
		overflow: auto;
		clear: left;
	}

	.post .content .ingredients .ingredient{
		float: left;
		margin-right: 10px;
		margin-top: 5px;
	}

	/* Adapt Yummy */
	.post .actions div .action .text{
		display: none;
	}

	.post .actions div .action {
		text-align: center;
		width: auto;
	}
	.post .actions div .action img {
		float: none;
	}

	/* Question Popup */
	#questionPopUp {
		width: 80%;
	}

	#questionPopUp input {
		width: 90%;
	}

}


@media screen and (max-width: 350px){


  .post .content .ingredients .ingredient{
		width: 90%; 
	}

}

