body {
	font-size: 20px;
}

#addPost{
	padding: 15px;
	background-color: #d98451;
	color: #fff;
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	border: 0;
	width: 100%;
	cursor: pointer;
}

.container{
	overflow: auto;
	margin: 0 auto;
	width: 500px;
}

.box{
	background-color: #fff3e8;
	border: solid 1px #efc296;
}

#newPost {
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
	display: none;
}

#newPost input{
	width: 90%;
	margin: 0 auto;
	border: solid 1px #efc296;
	margin-bottom: 20px;
}

#newPost .photo{
	border: solid 1px #efc296;
	width: 95%;
	margin: 0 auto;
	background: #FFF;
	margin-bottom: 20px;
}

#newPost .photo img{
	width: 70%;
	cursor: pointer;
}

@media screen and (max-width: 500px){
    .container {
    	width: auto;
    	padding: 0 20px 0 20px ;
    }

    #newPost input{
		width: 90%;
	}

	#newPost img{
		width: 92%;
	}

}