body {
	font-size: 20px;
}

#addPost{
	padding: 15px;
	background-color: #d98451;
	color: #fff;
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	border: 0;
	width: 100%;
	cursor: pointer;
}

.container{
	overflow: auto;
	margin: 0 auto;
	width: 500px;
}

.box{
	background-color: #fff3e8;
	border: solid 1px #efc296;
}

#newPost {
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
	display: none;
}

#newPost input{
	width: 90%;
	margin: 0 auto;
	border: solid 1px #efc296;
	margin-bottom: 20px;
}

#newPost .photo{
	border: solid 1px #efc296;
	width: 95%;
	margin: 0 auto;
	background: #FFF;
	margin-bottom: 20px;
}

#newPost .photo img{
	width: 70%;
	cursor: pointer;
}

#posts {
	margin-bottom: 20px;
}

#logoutButton {
	position: absolute;
	padding-right: 10px;
	padding-top: 12px;
	right:0px;
}

.post {
	margin-top: 20px;
	padding: 20px;
	overflow: auto;
}

.post .head{
	padding: 0 0 10px 0;
	border-bottom: dashed 1px #efc296;
	margin-bottom: 20px;
}

.post .ingredients .ingredient {
	background: #ffdfbf;
	width: 100px;
	padding: 5px;
	color: #d98451;
	text-align: center;
	margin-bottom: 10px;
}

.post .content img{
	float: left;
	width: 320px;
}

.post .content .ingredients{
	margin: 0 0 0 20px;
	float: left;
}


.post .title{
	color: #d98451;
	font-size: 25px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-weight: bold;

}

.post .author{
	color: #999999;
	font-size: 15px;

}

@media screen and (max-width: 500px){
    .container {
    	width: auto;
    	padding: 0 20px 0 20px ;
    }

    #newPost input{
		width: 90%;
	}

	#newPost img{
		width: 92%;
	}

	.post img{
		max-width:100%; 
		max-height:100%;
		clear: right;
		float: none;
	}

	.post .content .ingredients{
		margin: 0 0 0 0;
		padding-top: 10px;
		float: none;
		overflow: auto;
		clear: left;
	}

	.post .content .ingredients .ingredient{
		float: left;
		margin-right: 10px;
		margin-top: 5px;
	}

}

@media screen and (max-width: 350px){


  .post .content .ingredients .ingredient{
		width: 90%; 
	}

}