#banner{
	overflow: auto;
	width: 100%;
	background-repeat: no-repeat;
	background-position: 20 -30px;
	font-size: 30px;
}

#banner h1{
	color: #4c3a30;
	font-size: 58px;
	margin: 0;

}

#banner .food{
	float: left;
}

#banner .info{
	padding-top: 50px;
	padding-left: 20px;
	width: 500px;
	float: left;
}

#banner button{
	margin-top: 20px;
	font-size: 30px;
	padding: 10px 40px 10px 40px;
	border-radius: 0;
	cursor: pointer;
}


#registerForm,
#loginForm {
	padding-top: 15px;
	text-align: center;
	display: none;
}

#registerForm h1{
	margin-bottom: 5px;
}

#registerForm select{
	width: 320px;
}

#registerForm input[type="submit"], 
#loginForm input[type="submit"]{
	width: 320px;
}

#registerForm .alert,
#loginForm .alert{
	width: 320px;
	margin: 0 auto;
	text-align: left;
	
}

@media screen and (max-width: 900px){
    .container {
    	width: 100%;
    }

    #banner .food, #banner .info{
    	clear: right;
    	margin: 0 auto;
    	float: none;
    	padding: 0;
    }

    #banner .container{
    	text-align: center;
    }

}

@media screen and (max-width: 500px){

 	#banner .info{
    	width: auto;
    	padding: 0 20px 0 20px;
    }

    #banner img{
    	width: 300px;
    }

    #banner h1{
    	font-size: 40px;
    }

    #banner button{
    	width: 90%;
    }

    #register {
    	margin-bottom: 20px;
    }

}
