@import url(http://fonts.googleapis.com/css?family=Bubbler+One);

*{
	margin: 0;
	padding: 0;
}

body{
	background: #ffdfbf;
	font-family: 'Bubbler One', sans-serif;
}

.container {
	width: 900px;
	margin: 0 auto;
	overflow: auto;

}

h1 {
	color: #4c3a30;
	font-size: 58px;
}

input[type="submit"].orange, 
button.orange{
	background-color: #d93600;
	color: #FFF;
	border: solid 1px #a22c03;
}

input[type="submit"].orange:hover,
button.orange:hover{
	background-color: #e7501b;
}

input[type="submit"].blue,
button.blue{
	background-color: #4078d5;
	color: #FFF;
	border: solid 1px #17448f;
}

input[type="submit"].blue:hover,
button.blue:hover{
	background-color: #508aea;
}