.post .title {
	font-weight: bold;
	margin-bottom: 15px;
}

.post .author {
	padding-top: 10px;
	display: inline-block;
	vertical-align: middle;
}

.post .head {
	border-bottom: none;
}

.post_avatar {
	text-align:center;
	vertical-align: middle;
}


.time {
	color: #999999;
	font-weight: normal;
	font-size: 16px;
}

.post .content .post_image {
	width: 450px;
}

a {
	text-decoration: none;
}

.search_posts, .search_users {
	color: #d98451;
	font-size: 20px;
	font-weight: bold;
	width: 500px;
	padding-bottom: 5px;
	border-bottom: dashed 1px #b05b27;
}

.search_users {
	margin-top: 20px;
	margin-bottom: 20px;
}

.profileBox {
	margin-top:0px;
	margin-bottom:20px;
}

.profileBox .name, .profileBox .gender {
	font-size: 20px !important;
}

